@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-3">Bem-vindo ao Salão 3 Irmãos</h1>
        <p class="lead">Onde sua beleza é nossa prioridade. Oferecemos uma ampla gama de serviços de beleza para atender a todas as suas necessidades.</p>
        <a href="/Appointment/Calendar" class="btn btn-primary btn-lg">Agende Agora</a>
    </header>

    <div class="row text-center">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="img/corte_cabelo.jpg" alt="Corte de Cabelo">
                <div class="card-body">
                    <h4 class="card-title">Corte de Cabelo</h4>
                    <p class="card-text">Estilos modernos e clássicos para todas as idades.</p>
                </div>
                <div class="card-footer">
                    <a href="/Services/Haircut" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="img/manicure.jpg" alt="Manicure">
                <div class="card-body">
                    <h4 class="card-title">Manicure</h4>
                    <p class="card-text">Cuidados completos para suas mãos e unhas.</p>
                </div>
                <div class="card-footer">
                    <a href="/Services/Manicure" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="img/tratamento_pele.jpg" alt="Tratamento de Pele">
                <div class="card-body">
                    <h4 class="card-title">Tratamento de Pele</h4>
                    <p class="card-text">Tratamentos personalizados para uma pele saudável e radiante.</p>
                </div>
                <div class="card-footer">
                    <a href="/Services/SkinTreatment" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="img/pedicure.jpg" alt="Pedicure">
                <div class="card-body">
                    <h4 class="card-title">Pedicure</h4>
                    <p class="card-text">Cuidados especiais para seus pés e unhas.</p>
                </div>
                <div class="card-footer">
                    <a href="/Services/Pedicure" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="img/progressiva.jpg" alt="Progressiva">
                <div class="card-body">
                    <h4 class="card-title">Progressiva</h4>
                    <p class="card-text">Alisamento duradouro para cabelos lisos e sem frizz.</p>
                </div>
                <div class="card-footer">
                    <a href="/Services/HairStraightening" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="img/tratamento_capilar.jpg" alt="Tratamento Capilar">
                <div class="card-body">
                    <h4 class="card-title">Tratamento Capilar</h4>
                    <p class="card-text">Tratamentos especializados para nutrir e revitalizar seus cabelos.</p>
                </div>
                <div class="card-footer">
                    <a href="/Services/HairTreatment" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
