body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header.jumbotron {
    background-color: #343a40;
    color: white;
    padding: 2rem;
}

    header.jumbotron .btn {
        background-color: #007bff;
        border: none;
    }

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        max-height: 200px;
        object-fit: cover;
    }

    .card .btn {
        background-color: #007bff;
        border: none;
    }
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
   
}
/* Estilos personalizados para o FullCalendar */
.fc-daygrid-day {
    min-height: 1px; /* Ajuste o valor conforme necessário */
}

.fc-daygrid-day-top {
    padding: 1px; /* Ajuste o valor conforme necessário */
}

.fc .fc-toolbar-title {
    font-size: 1.1em; /* Ajuste o valor conforme necessário */
}

.fc .fc-header-toolbar {
    margin-bottom: 1px; /* Ajuste o valor conforme necessário */
}

.fc-daygrid-day-frame {
    padding: 1px; /* Ajuste o valor conforme necessário */
}

